// Refer to Pico SASS guide at https://picocss.com/docs/sass for more details
@use "@picocss/pico/scss/pico" with (
  $theme-color: "violet"
);

:root {
    --primary: hotpink;
}


h1, b {
    color: var(--primary);
}

button {
    color: var(--primary);
} 