// Refer to Pico SASS guide at https://picocss.com/docs/sass for more details
@use "@picocss/pico/scss/pico" with (
  $theme-color: "violet"
);

body {
    font-family: "Poppins", sans-serif;
}


:root {
    --primary: hotpink;
}


h1, b {
    color: var(--primary);
    font-family: "Bungee", sans-serif;
}

button {
    color: var(--primary);
} 